/* .background {
  border: "1px solid red";
  background-image: url("https://cdn-m.timecamp.com/img/backgroundTop.webp");
  width: 100%;
  max-height: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 300;
  overflow-x: hidden;
  font-family: nunito sans, sans-serif;
  background-color: #fff;
  color: #1b1b20;
  line-height: 1.5;
  text-align: left;
  background-image: url("https://cdn-m.timecamp.com/img/backgroundTop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
} */
/* .left {
  width: 70%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;

} */

/* .leftbox {
  border-radius: 6px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.9);
  flex: 0 0 48%;
  
  padding: 2rem;
} */

.leftbox h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  width: 93%;
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.leftbox h2 {
  font-weight: 600;
  color: #1b1b20;
  font-size: 45px;
  line-height: 1.1;
  width: 93%;
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-top: 20px;
}
.leftbox div {
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  
}
.leftbox div h3 {
    color: #767676;
    margin-top: 1rem;
}
.input {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10%;
}
.greenText {
  color: #25cf60;
  font-weight: 100;
}
.btndiv {
  width: 100%;
  gap: 20px;
  white-space: nowrap;
  text-align: center;
}
.btn1 {
  padding: 15px 40px;
  width: 200px;
  background-color: #25cf60;
  border-radius: 26px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  border: none;
  white-space: nowrap;
  text-align: center;
}
.btn1:hover {
  background-color: #1da44c;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 10px;
  width: 200px;
  border-radius: 26px;
  padding: 5px 40px;
  color: rgb(104, 102, 102);
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}
.btnimg {
  width: 40px;
}
.right {
  margin-bottom: 2rem;
  margin-left: 2rem;
  animation: fade 3s ease-out;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 0 0 48%;
  padding-right: 15px;
  padding-left: 15px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.personal {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  backdrop-filter: blur(3px);
  background-color: #ffffffe6;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
.personal img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  border-style: none;
  aspect-ratio: auto 70 / 70;
}
.personalHeader {
  font-weight: 550;
  font-size: 14px;
  text-align: center;
  padding: 0 2rem;
}
.personalPara {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  padding: 0 2rem;
  margin-bottom: 3rem;
}
.logo {
  width: 20%;
  height: 21px;
  margin-bottom: 3rem;
  vertical-align: middle;
  border-style: none;
  aspect-ratio: auto 91 / 21;
}
