.pricing section#top {
    background-color: #f3f3f3;
    padding: 6rem 0 4rem;
}
section#top>.container>.row {
    justify-content: center;
}
.pricing section#top .container .row .col-sm-12 {
    text-align: center;
}
section#top>.container>.row h1, section#top>.container>.row h2.subheader {
    font-weight: 700;
    color: #1b1b20;
    font-size: 52px;
    line-height: 1.1;
    width: 93%;
    margin-right: auto;
}
.pricing section#top .container .row .col-sm-12 h1 {
    font-size: 36px;
    font-weight: 800;
    margin: 0 auto 3.5rem;
    width: 82%;
}

.pricing section#top .container .row .col-sm-12 p {
    font-size: 20px;
    font-weight: 400;
    width: 77%;
    margin: 0 auto;
}